body {
  font-family: Arial;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #333;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input {
  margin: 5px;
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 20px;
  cursor: pointer;
}
